<h2>System Access Request</h2>

<% if flash[:notice] %>
 <meta http-equiv='refresh' content='5;url=/projects/<%= @cwa_as.project_id %>'>
<% else %>
<center>
<div style="width:800px">
 <%= form_tag :action => :create, :project_id => params[:project_id] do %>
 <div>
  <div class="box">
   <%= textilizable @cwa_as.saa, :options => { } %>
   <%= check_box_tag :saa, 'yes', false, :class => 'accept_saa' %>
   <%= label_tag :saa, "Accept System Access Agreement" %>
  </div>
  <div class="box">
   <%= textilizable @cwa_as.tos, :options => { } %>
   <%= check_box_tag :tos, 'yes', false, :class => 'accept_tos' %>
   <%= label_tag :saa, "Accept Terms of Service" %>
  </div>
 </div>
 <div class="box">
  <center>
  <%= textilizable @cwa_as.pwd_agreement, :options => { } %>
  <p>
   <%= label_tag :netid_password, "Enter your NetID password" %>:
  </p>
  <p>
   <%= password_field_tag :netid_password %>
  </p>
  <p>
   <%= submit_tag "Enable System Access", :disable_with => "Please wait..." %>
  </p>
  </center>
 </div>
<% end %>
</div>
</center>
<% end %>
