<h2>User Information</h2>

<div class="box">
  <%= form_tag :action => :user_shell, :project_id => params[:project_id] do %>
    <p>Name: <b><%= @cwa_as.givenname %> <%= @cwa_as.sn %></b></p>
    <p>Username: <b><%= @cwa_as.uid %></b></p>
    <p>Home directory: <b><%= @cwa_as.homedirectory %></b></p>
    <% shell = @cwa_as.loginshell %>
    <% shell_id = @cwa_as.shells[shell] %>
    <p>Shell: <b> <%= select_tag 'loginshell', options_for_select(@cwa_as.shells, :selected => shell_id) %> </b></p>
    <p><%= submit_tag "Update Account Information", :disable_with => "Please wait..." %></p>
  <% end %>
</div>

<% if @cwa_as.uid != "admin" %>

  <h2>Disable System Access</h2>

  <div class="box">
    <%= form_tag :action => :delete, :project_id => params[:project_id] do %>
    <p>
      <h3>Deactivation Notice</h3>
      <%= @cwa_as.delete_saa %>
    </p>
    <p>
      <%= submit_tag "Deactivate System Access", :disable_with => "Please wait..." %>
    </p>
    <% end %>
  </div>

<% end %>
