<p id="notice"><%= notice %></p>

<p>
  <b>Free mem:</b>
  <%= @cwa_db_hgrp_util.free_mem %>
</p>

<p>
  <b>Free swap:</b>
  <%= @cwa_db_hgrp_util.free_swap %>
</p>

<p>
  <b>User cpu util:</b>
  <%= @cwa_db_hgrp_util.user_cpu_util %>
</p>

<p>
  <b>Sys cpu util:</b>
  <%= @cwa_db_hgrp_util.sys_cpu_util %>
</p>

<p>
  <b>Nice cpu util:</b>
  <%= @cwa_db_hgrp_util.nice_cpu_util %>
</p>

<p>
  <b>Last update:</b>
  <%= @cwa_db_hgrp_util.last_update %>
</p>

<p>
  <b>Hgrp:</b>
  <%= @cwa_db_hgrp_util.hgrp_id %>
</p>


<%= link_to 'Edit', edit_cwa_db_hgrp_util_path(@cwa_db_hgrp_util) %> |
<%= link_to 'Back', cwa_db_hgrp_utils_path %>
