<%= form_for(@cwa_db_user_util) do |f| %>
  <% if @cwa_db_user_util.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cwa_db_user_util.errors.count, "error") %> prohibited this cwa_db_user_util from being saved:</h2>

      <ul>
      <% @cwa_db_user_util.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cpu_hrs %><br />
    <%= f.number_field :cpu_hrs %>
  </div>
  <div class="field">
    <%= f.label :ave_mem_job %><br />
    <%= f.number_field :ave_mem_job %>
  </div>
  <div class="field">
    <%= f.label :curr_hd_util %><br />
    <%= f.number_field :curr_hd_util %>
  </div>
  <div class="field">
    <%= f.label :last_update %><br />
    <%= f.date_select :last_update %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
