<h1>Listing cwa_db_user_utils</h1>

<table>
  <tr>
    <th>User</th>
    <th>Cpu hrs</th>
    <th>Ave mem job</th>
    <th>Curr hd util</th>
    <th>Last update</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cwa_db_user_utils.each do |cwa_db_user_util| %>
  <tr>
    <td><%= cwa_db_user_util.user_id %></td>
    <td><%= cwa_db_user_util.cpu_hrs %></td>
    <td><%= cwa_db_user_util.ave_mem_job %></td>
    <td><%= cwa_db_user_util.curr_hd_util %></td>
    <td><%= cwa_db_user_util.last_update %></td>
    <td><%= link_to 'Show', cwa_db_user_util %></td>
    <td><%= link_to 'Edit', edit_cwa_db_user_util_path(cwa_db_user_util) %></td>
    <td><%= link_to 'Destroy', cwa_db_user_util, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cwa db user util', new_cwa_db_user_util_path %>
