<%= form_for(@cwa_stat) do |f| %>
  <% if @cwa_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cwa_stat.errors.count, "error") %> prohibited this cwa_stat from being saved:</h2>

      <ul>
      <% @cwa_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :job_count %><br />
    <%= f.text_field :job_count %>
  </div>
  <div class="field">
    <%= f.label :wallclock %><br />
    <%= f.text_field :wallclock %>
  </div>
  <div class="field">
    <%= f.label :cputime %><br />
    <%= f.text_field :cputime %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
