<%= stylesheet_link_tag "/plugin_assets/cwa/stylesheets/cwa.css" %>
<h1>User Stats</h1>


<% users_top = {} %>
<% users_toph = {} %>
<% top_tmp = [] %>
<% toph_tmp = [] %>



<%@top = CwaUserMetrics.limit(7).order('disk_usage_work desc') %> 
<% @x = CwaUserMetrics.sum('disk_usage_work') %>

<%@toph = CwaUserMetrics.limit(7).order('disk_usage_home desc') %> 
<% @xh = CwaUserMetrics.sum('disk_usage_home') %>

<% @top.each do |p| %>
  <% if (user = User.find_by_id(p.user_id)) != nil %>
    <% users_top[p.user_id] = user %>
    <% top_tmp.push(p) %>
  <% end %>
<% end %>

<% @toph.each do |p| %>
  <% if (user = User.find_by_id(p.user_id)) != nil %>
    <% users_toph[p.user_id] = user %>
    <% toph_tmp.push(p) %>
  <% end %>
<% end %>

<% @top = top_tmp %>
<% @toph = toph_tmp %>

<p>
<img id = "work" src = "<%= Gchart.pie( 
  :data => [ @top.map{|p| p.disk_usage_work.to_f}[-7], 
             @top.map{|p| p.disk_usage_work.to_f}[-6],
             @top.map{|p| p.disk_usage_work.to_f}[-5],
             @top.map{|p| p.disk_usage_work.to_f}[-4],
             @top.map{|p| p.disk_usage_work.to_f}[-3],
             @top.map{|p| p.disk_usage_work.to_f}[-2],
             @top.map{|p| p.disk_usage_work.to_f}[-1],@x.to_f],  
:title => 'Hard Disk Utilization /work', 
:legend => 
[@top.map{|p| "#{users_top[p.user_id].login} : #{"%.02f" % p.disk_usage_work.to_f.to_s} GB"}[-7],
@top.map{|p| "#{users_top[p.user_id].login}  : #{"%.02f" % p.disk_usage_work.to_f.to_s} GB"}[-6],
@top.map{|p| "#{users_top[p.user_id].login}  : #{"%.02f" % p.disk_usage_work.to_f.to_s} GB"}[-5],
@top.map{|p| "#{users_top[p.user_id].login}  : #{"%.02f" % p.disk_usage_work.to_f.to_s} GB"}[-4],
@top.map{|p| "#{users_top[p.user_id].login}  : #{"%.02f" % p.disk_usage_work.to_f.to_s} GB"}[-3],
@top.map{|p| "#{users_top[p.user_id].login}  : #{"%.02f" % p.disk_usage_work.to_f.to_s} GB"}[-2],
@top.map{|p| "#{users_top[p.user_id].login}  : #{"%.02f" % p.disk_usage_work.to_f.to_s} GB"}[-1],"Other  :  #@x"],
:size => '400x400') %>">


<img id = "home" src = "<%= Gchart.pie(
  :data => [ @toph.map{|z| z.disk_usage_home.to_f}[-7],
             @toph.map{|z| z.disk_usage_home.to_f}[-6],
             @toph.map{|z| z.disk_usage_home.to_f}[-5],
             @toph.map{|z| z.disk_usage_home.to_f}[-4],
             @toph.map{|z| z.disk_usage_home.to_f}[-3],
             @toph.map{|z| z.disk_usage_home.to_f}[-2],
             @toph.map{|z| z.disk_usage_home.to_f}[-1],@xh.to_f],  
:title => 'Hard Disk Utilization /home', 
:legend => 
[@toph.map{|z| "#{users_toph[z.user_id].login} : #{"%.02f" % z.disk_usage_home.to_f.to_s} GB"}[-7],
@toph.map{|z| "#{users_toph[z.user_id].login}  : #{"%.02f" % z.disk_usage_home.to_f.to_s} GB"}[-6],
@toph.map{|z| "#{users_toph[z.user_id].login}  : #{"%.02f" % z.disk_usage_home.to_f.to_s} GB"}[-5],
@toph.map{|z| "#{users_toph[z.user_id].login}  : #{"%.02f" % z.disk_usage_home.to_f.to_s} GB"}[-4],
@toph.map{|z| "#{users_toph[z.user_id].login}  : #{"%.02f" % z.disk_usage_home.to_f.to_s} GB"}[-3],
@toph.map{|z| "#{users_toph[z.user_id].login}  : #{"%.02f" % z.disk_usage_home.to_f.to_s} GB"}[-2],
@toph.map{|z| "#{users_toph[z.user_id].login}  : #{"%.02f" % z.disk_usage_home.to_f.to_s} GB"}[-1],"Other  :  #@xh"],
:size => '400x400') %>">
</p>

<table class = "list sortableList">
    <tr>
        <th><%= sortable "user_id" , "User"%></th>
        <th>User Name</th>
        <th><%= sortable "job_count", "Job Count" %></th>
        <th><%= sortable "wallclock"%></th>
        <th><%= sortable "cputime" %></th>
        
    </tr>
    <% for data in @stats %>
    <tr>
        <td><%= data.user_id %></td>
        <td><%= User.find_by_id(data.user_id)%> </td>
        <td><%= data.job_count %></td>
        <td><%= data.wallclock %></td>
        <td><%= data.cputime %></td></tr>
        
<% end %>
</table>
