<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cwa_stat.user_id %>
</p>

<p>
  <b>Job count:</b>
  <%= @cwa_stat.job_count %>
</p>

<p>
  <b>Wallclock:</b>
  <%= @cwa_stat.wallclock %>
</p>

<p>
  <b>Cputime:</b>
  <%= @cwa_stat.cputime %>
</p>

<p>
  <b>Date:</b>
  <%= @cwa_stat.date %>
</p>


<%= link_to 'Edit', edit_cwa_stat_path(@cwa_stat) %> |
<%= link_to 'Back', cwa_stats_path %>
