<h2>Submit Allocation Request</h2>

<%= form_for @allocation, :url => { :action => "submit" }  do |a|%>
  <p>
    <%= a.label :summary, "Summary: " %>
    <%= a.text_field :summary, :size => "64" %>
  </p>
  <p>
    <%= a.label :proposal, "Proposal: " %>
    <%= a.text_area :proposal, :cols => "64", :rows => "18" %>
  </p>
  <p>
    <%= a.label :time_in_hours, "Required CPU hours: " %>
    <%= a.text_field :time_in_hours, :size => "10" %>
  </p>
  <p>
    <%= a.submit %>
  </p>
<% end %>
