<h2>Allocations</h2>

<div class="box">
<h3>Request Allocation</h3>

<%= form_for @allocation, :url => { :action => "submit" }  do |a|%>
  <table>
   <tr>
    <td style="text-align:right"><b><%= a.label :summary, "Summary: " %></b></td>
    <td style="text-align:left"><%= a.text_field :summary, :size => "64" %></td>
   </tr>
   <tr>
    <td style="text-align:right"><b><%= a.label :proposal, "Proposal: " %></b></td>
    <td style="text-align:left"><%= a.text_area :proposal, :cols => "64", :rows => "18" %></td>
  </tr>
  <tr>
    <td style="text-align:right"><b><%= a.label :time_in_hours, "Required CPU hours: " %></b></td>
    <td style="text-align:left"><%= a.text_field :time_in_hours, :size => "10", :value => "50000" %></td>
  </tr>
 </table>
  <p>
    <%= a.submit %>
  </p>
<% end %>
</div>
