<h2>Allocations</h2>

<div class="box">
<h3>My Allocation Requests</h3>
<% if @allocations.length == 0 %>
  <h4>You have no allocation requests!</h4>
  <p>Maybe you should request one?</p>
<% else %>
 <table class="list"><tr>
   <td><b>Delete?</b></td>
   <td><b>Summary</b></td>
   <td><b>Approved?</b></td>
   <td><b>CPU Hours Requested</b></td>
   <td><b>CPU Hours Used</b></td>
   <td><b>Date Requested</b></br></td>
 </tr>
 <% @allocations.each do |allocation| %>
   <tr>
     <% if allocation.approved == false || allocation.approved == nil %>
       <td><%= button_to "Delete", { :action => "delete", :allocation_id => allocation.id } %></td>
     <% else %> 
       <td>n/a</td>
     <% end %>
     <td><%= allocation.summary %></td>
     <td><%= allocation.approved ? "Yes" : "No" %></td>
     <td><%= allocation.time_in_hours %></td>
     <td><%= allocation.used_hours %></td>
     <td><%= allocation.time_submitted.to_s %></td>
   </tr>
 <% end %>
 </table>
<% end %>
</div>

<div class="box">
<h3>Options</h3>
<p>
 <%= link_to "Request an Allocation", :action => "form" %>
</p>
<% if User.current.admin? %>
 <p>
  <%= link_to "Administer Allocations", :action => "admin" %>
 </p>
<% end %> 
</div>
