<h2>Allocations</h2>

<p>
Allocations are grants of time provided on the system for running calculations.  
Below are allocation requests you have made and their status.  If you are working 
with a contributing research group, you needn't worry about allocations.
</p>
<br />

<% if @allocations.length == 0 %>
  <h4>You have no allocation requests!</h4>
  <p>You should make a request if you need access to system resources to run 
     calculations.  If you're working with a contributing research group, you
     do not need to apply for an allocation.</p>
  <%= button_to "Make allocation request", :action => "form" %>
<% else %>
  <table class="list"><tr>
    <td><b>Delete?</b></td>
    <td><b>Summary</b></td>
    <td><b>Approved?</b></td>
    <td><b>Hours Requested</b></td>
    <td><b>Hours Used</b></td>
    <td><b>Date Requested</br></td>
  </tr>
  <% @allocations.each do |allocation| %>
    <tr>
      <% if allocation.approved == false || allocation.approved == nil %>
        <td><%= button_to "Delete", { :action => "delete", :allocation_id => allocation.id } %></td>
      <% end %> 
      <td><%= allocation.summary %></td>
      <td><%= allocation.approved ? "Yes" : "No" %></td>
      <td><%= allocation.time_in_hours %></td>
      <td><%= allocation.used_hours %></td>
      <td><%= allocation.time_submitted.to_s %></td>
    </tr>
  <% end %>
  </table>

  <br />
  <br />

  <%= button_to "Make New Allocation Request", :action => "form" %>
<% end %>
