<%= javascript_include_tag "/plugin_assets/cwa/javascripts/browser.js" %>
<%= stylesheet_link_tag "/plugin_assets/cwa/stylesheets/cwa.css" %>

<script type="text/javascript">
  redmine_project = "<%= @project.identifier %>";
</script>

<div class="box">
  <h3>Submit <%= @app.name %> <%= @app.version %> job...</h3>
  <%= form_tag "/cwa_jobmanager/#{@project.identifier}/submit", :id => 'app_form', :multipart => true do %>

    <%= hidden_field_tag :selected_item, params[:selected_item] %>
    <%= hidden_field_tag :selected_dir, params[:selected_dir] %>
    <%= hidden_field_tag :selected_file, params[:selected_file] %>
    <%= hidden_field_tag :selected_share, params[:selected_share] %>
    <%= hidden_field_tag :user_home_dir, @ipa_user.homedirectory %>
    <%= hidden_field_tag :user_work_dir, @ipa_user.workdirectory %>
    <%= hidden_field_tag :app_id, @app.id %>

    <%= render :inline => @haml, :type => 'haml' %>
    <%= submit_tag "Submit", :onclick => "submitClick(submitClickFunction)" %>
  <% end %>
</div>

<!-- hidden div for file and directory selection -->
<div id="minibrowser" class="floating_browser">
  <div class="pathBox">
    <span id="current_dir_popup"></span>
  </div>

  <div id="mainBox" class="browserBox" style="height: 90%">
    <div class="dirSelector" id="dirContainer" style="height:93%">
      <div id="dirBoxTitle">
        <b>Shares &amp; Directories</b>
      </div>
      <div id="dirContainerDirs" style="height:100%; overflow:auto;">
        <ul class="dir">
          <% [["home",nil,"dirEntryHomePopup"],["work",nil,"dirEntryWorkPopup"]].each do |store| %>
            <% id = store[1].nil? ? store[0] + "." : store[0] + "." + store[1] %>
            <li id="<%= id %>" class="<%= store[2] %>"><div><%= store[1].nil? ? store[0] : store[1] %></div></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="fileSelector" id="files" style="height:98%">
      <div id="dirBoxTitle">
        <b>Files</b>
      </div>
      <div id="fileList_popup" style="height:95%">
      </div>
    </div>
  </div>

  <div style="height: 48px; width: 100%;">
    <%= button_to_function "Select file...", "somefunc()", :id => 'minibrowser_button' %>
    <%= button_to_function "Cancel", "hideMiniBrowser()" %>
  </div>
</div>
