<%= stylesheet_link_tag "/plugin_assets/cwa/stylesheets/codemirror.css" %>
<%= stylesheet_link_tag "/plugin_assets/cwa/codemirror/elegant.css" %>
<%= javascript_include_tag "/plugin_assets/cwa/javascripts/codemirror.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/codemirror/shell/shell.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/codemirror/htmlmixed/htmlmixed.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/codemirror/xml/xml.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/codemirror/javascript/javascript.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/codemirror/css/css.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/codemirror/ruby/ruby.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/codemirror/haml/haml.js" %>

<h2>App Manager</h2>
<%= form_for @app, :url => { :project_id => @project.identifier } do |a| %>
  <% @form_var = a %>
  <%= a.hidden_field :project_id, :value => @project.id %>
  <%= render_tabs Redmine::CwaApplicationHelper::cwa_applications_tabs %>
  <%= a.submit %>
<% end %>


<!-- <script type="text/javascript">
  var myHAMLCM = null;
  var myExecCM = null;
  $('#tab-exec_code').bind('click', function(){
    if (myHAMLCM == null){
      myHAMLCM = CodeMirror.fromTextArea(
        document.getElementById('cwa_application_haml_form'),
        { lineNumbers: true, mode: "haml" }
      );
    }
  });

  $('#tab-haml_code').bind('click', function(){
    if (myExecCM == null){
      myExecCM = CodeMirror.fromTextArea(
        document.getElementById('cwa_application_exec'),
        { lineNumbers: true, mode: "shell" }
      );
    }
  });

</script> -->
