<h2>App Manager</h2>
<center>
<%= form_for @app, :url => { :project_id => @project.identifier } do |a| %>
 <%= a.hidden_field :project_id, :value => @project.id %>
 <div class="box" style="width:90%; text-align:left;">
  <h3>Basic Information</h3>
  <table>
  <tr>
   <td><%= a.label :name %></td>
   <td><%= a.text_field :name, :size => 25 %></td>
  </tr>
  <tr>
    <td><%= a.label :version %></td>
    <td><%= a.text_field :version, :size => 25 %></td>
  </tr>
  </table>
  </p>
 </div>
 <div class="box" style="width:90%; text-align:left;">
  <h3>Job Execution Code</h3>
  <p>
    <center>
    <%= a.text_area :exec, :rows => 32, :cols => 120 %>
    </center>
  </p>
 </div>
  <div class="box"style="width:90%; text-align:left;">
  <h3>End-user Submit Form</h3>
  <p>
    <center>
    <%= a.text_area :haml_form, :rows => 32, :cols => 120 %>
    </center>
  </p>
  <p>
    <%= a.submit %>
  </p>
  </div>
<% end %>
</center>
