<!--This page grabs data from the CwaUserMetrics and CwaGroupMetrics tables (based on who's logged in) and puts it into tables -->
<h3>Usage Statistics for the last 30 days</h3>
  <table class="list">
    <% if !CwaUserMetrics.find_all_by_user_id(User.current.id).blank?%>
      <% @cwa_user_metrics = CwaUserMetrics.find_all_by_user_id(User.current.id) %>
      <% @cwa_user_metrics.each do |x| %>
        <tr>
          <th>CPU Time</th>
          <td><%= x.cpu_time.to_s %> hours</td>
        </tr><tr>
          <th>CPU Time Per Job</th>
          <td><%= x.cpu_time_job.to_s %> hours</td>
        </tr><tr>
          <th>Wallclock</th>
          <td><%= x.tot_wallclock.to_s %> hours</td>
        </tr><tr>
          <th>Wallclock per Job</th>
          <td><%= x.average_job_time.to_s %> hours</td>
        </tr><tr>
          <th>/home usage (current)</th>
          <td><%= ("%.02f" % x.disk_usage_home).to_s %> GB</td>
        </tr><tr>
          <th>/work usage (current)</th>
          <td><%= ("%.02f" % x.disk_usage_work).to_s %> GB</td>
        </tr><tr>
          <th>Number of Jobs Run</th>
          <td><%= x.tot_jobs.to_s %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
    <p>

   <!-- <table cellspacing = 10>
        <tr>
            <th>Group</th>
            <th>Disk Usage</th>  
        </tr>
            <%# if !CwaGroupMetrics.find_all_by_group_id(User.current.id).blank?%>
            <%# @cwa_group_metrics = CwaGroupMetrics.find_all_by_group_id(User.current.id) %>
            <%# @cwa_group_metrics.each do |y| %>

        <tr>
            <td><%#= y.group_id %></td>
            <td><%#= y.disk_usage %></td>
        </tr>

            <%# end %><%# end %>

    </table>-->
