<h3>Job History</h3>
<% hist_jobs = CwaJobHistory.find_all_by_owner(User.current.login).last(25).reverse %>
<% if hist_jobs.count > 0 %>
<table class="list">
  <tr>
    <td><b>Job Name</b></td>
    <td><b>JobID</b></td>
    <td><b>Job Directory</b></td>
    <td><b>Rerun/Review</b></td>
  </tr>
<% hist_jobs.each do |h| %>
  <% if @jobs.where_id_is(h.jobid) == nil %>
    <tr>
      <td><%= h.job_name %></td>
      <td><%= h.jobid %></td>
      <td><a href="sftp://<%= User.current.login %>@<%= Redmine::Cwa.output_server %><%= h.workdir %>/"><%= h.workdir %>/</a></td>
      <% if h.submit_parameters != nil %>
        <td><%= link_to "View", :action => 'display', :controller => 'cwa_applications', :id => h.app_id, :params => JSON.parse(h.submit_parameters).to_hash %></td>
      <% else %>
        <td>N/A</td>
      <% end %>
    </tr>
  <% end %>
<% end %>
</table>
<% else %>
<p>You have no jobs in your history</p>
<% end %>
