<h3>Job History</h3>
<% hist_jobs = CwaJobHistory.find_all_by_owner(User.current.login).last(25).reverse %>
<% if hist_jobs.count > 0 %>
<table class="list">
  <tr>
    <td><b>Job Name</b></td>
    <td><b>JobID</b></td>
    <td><b>Description</b></td>
    <td><b>Rerun/Review</b></td>
    <td><b>Job Directory</b></td>
  </tr>
<% hist_jobs.each do |h| %>
  <% if h.workdir != nil %>
    <% browser = CwaBrowser.new h.workdir, nil %>
  <% end %>
  <% if @jobs.where_id_is(h.jobid) == nil %>
    <tr>
      <td><%= h.job_name %></td>
      <td><%= h.jobid %></td>
      <% if h.submit_parameters != nil %> 
        <% params = JSON.parse(h.submit_parameters).to_hash %>
        <% if params["description"] != nil %>
          <td><%= params["description"] %></td>
        <% else %>
          <td>N/A</td>
        <% end %>
        <td><%= link_to "View", :action => 'display', :controller => 'cwa_applications', :id => h.app_id, :params => params %></td>
      <% else %>
        <td>N/A</td>
        <td>N/A</td>
      <% end %>
      <td>
        <% if browser.current_dir != "" %>
          <%= link_to "View", :controller => 'cwa_browser', :action => 'index', :share => browser.current_share, :dir => browser.current_dir %>
        <% else %> 
          <%= link_to "View", :controller => 'cwa_browser', :action => 'index', :share => browser.current_share %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>
<% else %>
<p>You have no jobs in your history</p>
<% end %>
