<h2>App Manager</h2>
<%= form_for @app do |a| %>
  <% a.fields_for :environment do |env| %>
    <p>
      <%= env.label :name %>
      <%= env.text_field :name, :size => 50 %>
      <%= env.check_box :_destroy %>
      <%= env.label :_destroy, 'delete' %>
    </p>
  <% end -%>
  <p>
    <%= a.submit 'Add variable', :name => "add_variable" %>
    <%= a.submit 'Delete selected variables', :name => "del_variable" %>
    <%= a.submit %>
  </p>
<% end %>
