if (document.addEventListener) {
  document.addEventListener('contextmenu', function(event) {
    event.preventDefault();
  }, false);
  document.addEventListener('click', function() {
    clearMenu();
  }, false);
} else {
  document.attachEvent('oncontextmenu', function() {
    window.event.returnValue = false;
  });
  document.attachEvent('onclick', function() {
    clearMenu();
  });
};

var tail_handle;
var my_tail_func = function(){
  var data = "";
  $.post("/cwa_browser/<%= @project.identifier %>/" + $('#selected_file').val() + "/tail",
    function(data){ 
      $('#tail_content').val('');
      $('#tail_content').val(data);
    }
  );
  
  $("#tail_content").scrollTop($("#tail_content")[0].scrollHeight);
};

function cwaAction(action, promptString, confirmBool){
  var item = $('#selected_item').val();
  item = item.split("/");
  item = item[item.length-1];

  var path = "<%= @browser.current_dir %>";
  var share = "<%= @browser.current_share %>";
  var proj = "<%= @project.identifier %>";
  var argument;
  var continuation = false;

  if (promptString){
    argument = prompt(promptString);

    url = "/cwa_browser/" + proj + "/";
    url += share + "/";
    if (path)
      url += path + "/"; 
    url += item + "/";
    url += action + "/";
    url += argument;

    errorString = "Failed to " + action + " \"" + argument + "\"!";
  } else {
    url = "/cwa_browser/" + proj + "/";
    url += share + "/";
    if (path)
      url += path + "/";
    url += item + "/";
    url += action;

    errorString = "Failed to " + action + " \"" + item + "\"!";
  }

  if (confirmBool) {
    if (confirm("Are you sure you want to " + action + " " + item + " ?")){
      continuation = true;
    }
  } else {
    continuation = true;
  }
      

  if ((promptString && argument && continuation == true) || 
      (!promptString && !argument && continuation == true)){
    $.ajax({
      type: "POST",
      url: url,
      success: function(data){ 
        if (data.fid != null){
          switch (data.type){
            case "application/x-directory; charset=binary":
              method = "downloadzip";
              break;
            default:
              method = "download";
          }
          window.location.assign("/cwa_browser/<%= @project.identifier %>/" + method + "/" + data.fid);
        } else {
          location.reload(); 
        }
      },
      error: function(data){ alert(errorString); }
    });
  }
};

function chdir(elem){
  components = path_components(elem);
  share = components.share;
  path = components.path;
  window.location = "/cwa_browser/<%= @project.identifier %>/" + share + "/" + path;
};

function chdirAppMgr(elem){
  [share,path] = path_components(elem);
  if (path != ""){
    url_path = "share=" + share + "&dir=" + encodeURIComponent(path);
  } else {
    url_path = "share=" + share;
  }
  window.location = "<%= request.path %>?" + url_path + "&" + $('#app_form').serialize();
};

function back(){
  window.location = "/cwa_browser/<%= @project.identifier %>/<%= @browser.current_share %>/<%= @browser.up_dir %>";
};

function backAppMgr(){
  window.location = "<%= request.path %>?share=<%= @browser.current_share %>&dir=" + encodeURIComponent("<%= @browser.up_dir %>") + "&" + $('#app_form').serialize();
};

// Dustin Diaz's getElementsByClass to search for elements by class name regex
function getElementsByClass(searchClass,node,tag) {
  var classElements = new Array();
  if ( node == null )
    node = document;
  if ( tag == null )
    tag = '*';
  var els = node.getElementsByTagName(tag);
  var elsLen = els.length;
  var pattern = new RegExp(searchClass);
  for (i = 0, j = 0; i < elsLen; i++) {
    if ( pattern.test(els[i].className) ) {
      classElements[j] = els[i];
      j++;
    }
  }
  return classElements;
}

function clear_selected(){
  var selected = getElementsByClass("^.*(File|Dir).*Selected$"),
    items = selected.length,
    element = null;
  for (var i = 0; i < items; i++){
    element = selected[i];
    new_name = element.className.replace("Selected","");
    element.className = new_name;
  }
}

// these methods are for mini-browsers for job submission
function set_selected_dir(elem, dir){
  $("#selected_dir").val(dir);
  var className = elem.className;
  var re = new RegExp(".*Selected$");
  if (!elem.className.match(re)){
    clear_selected();
    elem.className = className + "Selected";
  }
}

function set_selected_file(elem, dir, file){
  $("#selected_dir").val(dir);
  $("#selected_file").val(dir + "/" + file);
  var className = elem.className;
  var re = new RegExp(".*Selected$");
  if (!elem.className.match(re)){
    clear_selected();
    elem.className = className + "Selected";
  }
}

// these methods are for the full file browser
function select_directory(elem){
  var className = elem.className;
  var re = new RegExp(".*Selected$");
  if (!elem.className.match(re)){
    clear_selected();
    elem.className = className + "Selected";
  }

  components = path_components(elem);
  share = components.share;
  path = components.path;

  $("#selected_dir").val(share + "/" + path);
  $("#selected_item").val(share + "/" + path);
}

function select_file(elem) {
  var className = elem.className;
  var re = new RegExp(".*Selected$");
  if (!elem.className.match(re)){
    clear_selected();
    elem.className = className + "Selected";
  }

  components = path_components(elem);
  share = components.share;
  path = components.path;

  $("#selected_file").val(share + "/" + path);
  $("#selected_item").val(share + "/" + path);
}

function showMenu(event, elementId) {
  /*  check whether the event is a right click 
   *  because different browser (ahem IE) assign different numbers to the keys to
   *  your mouse buttons and different values to the event, you'll have to do some evaluation
   */
  var rightclick; //will be set to true or false
  if (event.button) {
    rightclick = (event.button == 2);
  }
 
  if(rightclick) { //if the secondary mouse botton was clicked
    var menu = document.getElementById(elementId);
    menu.style.display = "block"; //show menu

    var x = event.clientX; //get X and Y coordinance for menu position
    var y = event.clientY;
 
    //This section is necessary if you click on the far right edge or bottom
    //The 200 is arbitrary, choose whatever number you want based on how large your menu is
    if(window.innerWidth) {
      windowWidth = window.innerWidth;
      windowHeight = window.innerHeight;
    } else if(document.documentElement.clientWidth) {
      windowWidth = document.documentElement.clientWidth;
      windowHeight = document.documentElement.clientHeight;
    } else {
      windowWidth = document.getElementsByTagName('body')[0].clientWidth;
      windowHeight = document.getElementsByTagName('body')[0].clientHeight;
    }
    if(windowWidth < (x + 200)) {
      x = x - 200;
    }
    if(windowHeight < (y + 200)) {
      y -= 200;
    }
 
    //position the menu
    menu.style.position = "fixed"; // use fixed or it will not work when the window is scrolled
    menu.style.top = y+"px";
    menu.style.left= x+"px";
  }
}
 
function clearMenu() { //used to make the menu disappear
  //this function should be used at the beginning of any function that is called from the menu
  var menu = document.getElementById('menuDir');
  if (menu) {
    menu.style.display = "none"; //don't show menu
  }
  var menu = document.getElementById('menuFile');
  if (menu) {
    menu.style.display = "none"; //don't show menu
  }
}

function showUploadFile(){
  var menu = document.getElementById('upload');
  menu.style.display = "block"; //don't show menu
}

function hideUploadFile(){
  var menu = document.getElementById('upload');
  menu.style.display = "none"; //don't show menu
}

function showTextEditor(){
  var menu = document.getElementById('textEditor');
  menu.style.display = "block"; //don't show menu
}

function hideTextEditor(){
  var menu = document.getElementById('textEditor');
  menu.style.display = "none"; //don't show menu
  document.getElementById("new_file_form").reset();
}

function showTail(){
  $('#tail').css('display', "block"); // show tail box
  my_tail_func();
  tail_handle = setInterval(my_tail_func, 5000);
}

function hideTail(){
  $('#tail').css('display', "none"); //don't show tail box
  document.getElementById("tail_box").reset;
  clearInterval(tail_handle);
}

// Handle the file tree view
function collapsibleExpand(elem){
  if (elem.id != event.target.id){
    return;
  }

  components = path_components(elem);
  share = components.share;
  path = components.path;

  $.getJSON('/cwa_browser/<%= @project.identifier %>/' + share + "/" + path, function(data){

    var dirItems = [];
    var fileItems = [];

    if (elem.className == 'dirExpanded'){
      $(elem).find('ul').remove();
    }

    dirItems.push('<ul>');

    $.each(data, function(key,items){
      if (key == 'directories' && elem.className != 'dirExpanded'){
        $.each(items, function(idx,val){
          if (!path.length){
            dirItems.push('<li class="dir" id="' + share + "." + val + '" onclick="collapsibleExpand(this);">' + val + '</li>' );
          } else {
            dirItems.push('<li class="dir" id="' + share + "." + path + "/" + val + '" onclick="collapsibleExpand(this);">' + val + '</li>' );
          }
 
        });
      }

      if (key == 'files'){
        $.each(items, function(idx,val){
          if (path == ''){
            fileItems.push('<div class="browserFileEntryIcon" oncontextmenu="showMenu(event, ' + 
              "'menuFile'" + '); select_file(this);" onclick="select_file(this)" id="' + 
              share + '.' + val + '"><p class="browserEntryIcon">' + 
              val + '</p></div>');
          } else {
            fileItems.push('<div class="browserFileEntryIcon" oncontextmenu="showMenu(event, ' + 
              "'menuFile'" + '); select_file(this);" onclick="select_file(this)" id="' + 
              share + '.' + path + '/' + val + '"><p class="browserEntryIcon">' + 
              val + '</p></div>');
          }
        });
      }
    });

    if (elem.className != 'dirExpanded'){
      elem.className = 'dirExpanded';
    } else {
      elem.className = 'dir';
    }

    dirItems.push('</ul>');

    $(dirItems.join('\n')).appendTo(elem);
    $("#fileContainer").html(fileItems.join('\n'));
  });
}

function path_components(elem){
  var parts = elem.id.split(".");
  var share = parts[0];
  parts.shift();
  var path = parts.join('.');
  
  return {
    share: share,
    path: path
  };
}
