<script>
  <%= render :partial => 'cwa_browser/browser.js.erb' %>
</script>

<div>
  <div style="width:100%; float:left; position:relative; text-align:center;"><b>Current directory: </b> <%= @browser.current_dir %></div>
  <div id="<%= @user.homedirectory %>" onclick="chdirAppMgr(this)" class="actionButton">Home</div>
  <div id="<%= @user.workdirectory %>" onclick="chdirAppMgr(this)" class="actionButton">Work</div>

  <% if @browser.current_dir != nil %>
    <div class="browserButtonBack" onclick="backAppMgr()">&lt; Back</div>
  <% else %>
    <div class="browserButtonBackInactive">&lt; Back</div>
  <% end %>

  <div class="browserSelector">
    <div class="browserContainer" style="width: 100%">
      <center><p>Select a directory...</p></center>
      <%= hidden_field_tag :selected_dir, @browser.current_dir %>
      <% @browser.directories.each do |dir| %>
        <% dir = @browser.current_dir != "" ? @browser.current_dir + "/" + dir : dir %>
        <div class="browserDirEntry" onclick="select_directory(this)" ondblclick="chdirAppMgr(this);" id="<%= @browser.current_share + '#' + dir %>"><p class="browserEntry"><%= dir %></p></div>
      <% end %>
      <% @browser.files.each do |file| %>
        <div class="browserFileEntryDisabled" id="<%= @browser.current_share + "#" + @browser.current_dir + "/" + file %>"><p class="browserEntry"><%= file %></p></div>
      <% end %>
    </div>
  </div>
</div>
