<% if params[:dir] != nil %>
  <% begin %>
    <% @browser = CwaBrowser.new params[:dir] %>
  <% rescue Exception => e %>
    <% flash[:error] = e.message %>
    <% @browser = CwaBrowser.new @user.homedirectory %>
    <% params[:dir] = @user.homedirectory %>
    <script type="text/javascript">
      window.location="<%= request.path %>"
    </script>
  <% end %>
<% else %>
  <% @browser = CwaBrowser.new @user.homedirectory %>
<% end %>

<div>
  <div style="width:100%; float:left; position:relative; text-align:center;"><b>Current directory:</b> <%= @browser.current_dir %></div>
    <div id="<%= @user.homedirectory %>" onclick="chdir(this)" class="actionButton">Home</div>
    <div id="<%= @user.workdirectory %>" onclick="chdir(this)" class="actionButton">Work</div>
    <% if @browser.current_dir != @user.homedirectory && @browser.current_dir != @user.workdirectory %>
      <div class="browserButtonBack" onclick="back()">&lt; Back</div>
    <% else %>
      <div class="browserButtonBackInactive">&lt; Back</div>
    <% end %>

    <div class="browserSelector" style="width:100%">
      <div class="browserContainer" style="width:40%">
        <center><p>Select a directory...</p></center>
        <%= hidden_field_tag :job_dir, @browser.current_dir %>
        <% @browser.directories.each do |dir| %>
          <div class="browserDirEntry" onclick="select_directory(this)" ondblclick="chdir(this)" id="<%= @browser.current_dir + '/' + dir %>"><p class="browserEntry"><%= dir %></p></div>
        <% end %>
      </div>

      <div class="browserContainer" style="width:60%">
        <center><p>Select a file...</p></center>
        <%= hidden_field_tag :job_file %>
        <% @browser.files.each do |file| %>
        <div class="browserFileEntry" onclick="$('#job_dir').val('<%= @browser.current_dir %>'); $('#job_file').val(this.id); select_file(this)" id="<%= @browser.current_dir + '/' + file %>"><p class="browserEntry"><%= file %></p></div>
      <% end %>
    </div>
  </div>
</div>
