<% if params[:job_dir] != nil %>
  <% begin %>
    <% browser = CwaBrowser.new params[:job_dir] %>
  <% rescue Exception => e %>
    <% flash[:error] = e.message %>
    <% browser = CwaBrowser.new @user.homedirectory %>
    <% params[:job_dir] = @user.homedirectory %>
    <script type="text/javascript">
      window.location="<%= request.path %>"
    </script>
  <% end %>
<% else %>
  <% browser = CwaBrowser.new @user.homedirectory %>
<% end %>

<div>
<div style="width:100%; float:left; position:relative; text-align:center;"><b>Current directory:</b> <%= browser.current_dir %></div>
<div id="goHome" class="<%= browser.current_dir.include?(@user.homedirectory) ? "browserButtonSelected" : "browserButton" %>">Home</div>
<div id="goWork" class="<%= browser.current_dir.include?(@user.workdirectory) ? "browserButtonSelected" : "browserButton" %>">Work</div>
<% if browser.current_dir != browser.home_dir && browser.current_dir != browser.work_dir %>
  <div id="goUpOne" class="browserButtonBack">&lt; Back</div>
<% else %>
  <div class="browserButtonBackInactive">&lt; Back</div>
<% end %>

<div class="browserSelector" style="width:100%">
<table class="browserTab">
<tr><td class="dirCol"><b>Directory</b></td><td class="fileCol"><b>File</b></td></tr>
<tr><td class="dircCol">
<%= select_tag :job_dir, options_for_select(browser.directories.map{|dir| [dir, browser.current_dir + "/" + dir]}), :size => 10, :style => "width:100%;" %></td>
<td class="fileCol"><%= select_tag :job_file, options_for_select(browser.files.map{|file| [file, browser.current_dir + "/" + file]}), :size => 10, :style => "width:100%;" %></td>
</tr>
</table>
</div>
</div>

</div>

<script>
document.getElementById('goHome').onclick = function(){
  var queryString = $('#app_form').serialize();
  window.location = "<%= request.path %>?" + queryString + "&job_dir=<%= CGI.escape(@user.homedirectory) %>";
};

document.getElementById('goWork').onclick = function(){
  var queryString = $('#app_form').serialize();
  window.location = "<%= request.path %>?" + queryString + "&job_dir=<%= CGI.escape(@user.workdirectory) %>";;
};

<% if browser.current_dir != browser.home_dir && browser.current_dir != browser.work_dir %>
document.getElementById('goUpOne').onclick = function(){
  var queryString = $('#app_form').serialize();
  window.location = "<%= request.path %>?" + queryString + "&job_dir=<%= CGI.escape(browser.up_dir) %>";
};
<% end %>

document.getElementById('job_dir').ondblclick = function(){
  var queryString = $('#app_form').serialize();
  window.location = "<%= request.path %>?" + queryString;
};
</script>
