<% if params[:job_dir] != nil %>
  <% begin %>
    <% browser = CwaBrowser.new params[:job_dir] %>
  <% rescue Exception => e %>
    <% flash[:error] = e.message %>
    <% browser = CwaBrowser.new @user.homedirectory %>
    <% params[:job_dir] = @user.homedirectory %>
    <script type="text/javascript">
      window.location="<%= request.path %>"
    </script>
  <% end %>
<% else %>
  <% browser = CwaBrowser.new @user.homedirectory %>
<% end %>

<div>

<div style="width:100%; float:left; position:relative; text-align:center;"><b>Current directory:</b> <%= browser.current_dir %></div>
<div id="goHome" class="<%= browser.current_dir.include?(@user.homedirectory) ? "browserButtonSelected" : "browserButton" %>">Home</div>
<div id="goWork" class="<%= browser.current_dir.include?(@user.workdirectory) ? "browserButtonSelected" : "browserButton" %>">Work</div>
<% if browser.current_dir != browser.home_dir && browser.current_dir != browser.work_dir %>
  <div id="goUpOne" class="browserButtonBack">&lt; Back</div>
<% else %>
  <div class="browserButtonBackInactive">&lt; Back</div>
<% end %>

<div class="browserSelector" style="width:100%">
<div style="height: 100%; width:40%; position:relative; float:left; overflow:auto;">
<center><p>Select a directory...</p></center>
<%= hidden_field_tag :job_dir, browser.current_dir %>
<% browser.directories.each do |dir| %>
<div class="browserDirEntry" onclick="select_directory(this)" ondblclick="change_directory(this)" id="<%= browser.current_dir + '/' + dir %>"><p style="margin-left:28px;z-index:-1;"><%= dir %></p></div>
<% end %>
</div>

<div style="height: 100%; width:60%; position:relative; float:left; overflow:auto;">
<center><p>Select a file...</p></center>
<%= hidden_field_tag :job_file %>
<% browser.files.each do |file| %>
<div class="browserFileEntry" onclick="select_file(this)" id="<%= browser.current_dir + '/' + file %>"><p style="margin-left:28px;z-index:-1;"><%= file %></p></div>
<% end %>
</div>
</div>
</div>

<script>
document.getElementById('goHome').onclick = function(){
  var queryString = $('#app_form').serialize();
  window.location = "<%= request.path %>?" + queryString + "&job_dir=<%= CGI.escape(@user.homedirectory) %>";
};

document.getElementById('goWork').onclick = function(){
  var queryString = $('#app_form').serialize();
  window.location = "<%= request.path %>?" + queryString + "&job_dir=<%= CGI.escape(@user.workdirectory) %>";;
};

<% if browser.current_dir != browser.home_dir && browser.current_dir != browser.work_dir %>
document.getElementById('goUpOne').onclick = function(){
  var queryString = $('#app_form').serialize();
  window.location = "<%= request.path %>?" + queryString + "&job_dir=<%= CGI.escape(browser.up_dir) %>";
};
<% end %>

function change_directory(elem){
  document.forms['app_form'].job_dir.value = elem.id;
  var queryString = $('#app_form').serialize();
  window.location = "<%= request.path %>?" + queryString;
};

function select_directory(elem){
  var selected = document.getElementsByClassName("browserDirEntrySelected"),
      items = selected.length,
      element = null;
  for (var i = 0; i < items; i++){
    element = selected[i];
    element.className = "browserDirEntry";
  }
  elem.className = "browserDirEntrySelected";
  document.forms['app_form'].job_dir.value = elem.id;
}

function select_file(elem){
  var selected = document.getElementsByClassName("browserFileEntrySelected"),
      items = selected.length,
      element = null;
  for (var i = 0; i < items; i++){
    element = selected[i];
    element.className = "browserFileEntry";
  }
  elem.className = "browserFileEntrySelected";
  document.forms['app_form'].job_file.value = elem.id;
}
</script>
