<%= stylesheet_link_tag "/plugin_assets/cwa/stylesheets/appmanager.css" %>
<%= javascript_include_tag "/plugin_assets/cwa/javascript/CollapsibleLists.js" %>
<script>
  <%= render :formats => [:js], :partial => 'cwa_browser/browser' %>
</script>

<div style="margin: 18px">
<%= form_tag '/cwa_browser', :id => 'app_form', :multipart => true do %>

<%= hidden_field_tag :selected_item, nil %>
<%= hidden_field_tag :selected_dir, nil %>
<%= hidden_field_tag :selected_file, nil %>
<%= hidden_field_tag :selected_share, @browser.current_share %>

  <div class="actionButtons">
    <!-- Action buttons -->
    <div class="actionButton" onclick="cwaAction('mkdir','Specify directory name to be created:',false)">New Folder...</div>
    <div class="actionButton" onclick="showTextEditor()">Create File...</div>
    <div class="actionButton" onclick="showUploadFile()">Upload File...</div>

    <% if @browser.current_dir != nil  %>
      <div class="browserButtonBack" onclick="back()">&lt; Back</div>
    <% else %>
      <div class="browserButtonBackInactive">&lt; Back</div>
    <% end %>

    <!-- Current directory window -->
    <div>
      <b>Current Path:</b> <%= text_field_tag :current_dir, @browser.current_path, :size => @browser.current_path.length < 72 ? @browser.current_path.length : 72, :disabled => true %>
    </div>
  </div>

<div>
  <div class="box dirSelector" id="dirContainer">
    <p><b>Data Stores</b></p>
    <ul class="collapsibleList">
    <% ([["home",nil],["work",nil]] + @group_list.map {|g| [ "shares", g[:cn]]}).each do |store| %>

      <li><%= store[1].nil? ? store[0] : store[1] %>
      
      <% b = CwaBrowser.new store[0], store[1] %>
      <% b.directories.each do |dir| %>
        <ul>
          <% if b.current_dir != nil.to_s %>
            <% id = b.current_dir + "/" + dir %>
          <% else %>
            <% id = dir %>
          <% end %>
          <li id="<%= b.current_share + "#" + id %>" onclick="collapsibleExpand(this)"><%= dir %></li>
        </ul>
      <% end %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="box fileSelector" id="fileContainer">
<% @browser.files.each do |file| %>
  <% if @browser.current_dir != nil.to_s %>
    <% id = @browser.current_dir + "/" + file %>
  <% else %>
    <% id = file %>
  <% end %>
<div class="browserFileEntryIcon" oncontextmenu="showMenu(event, 'menuFile'); select_file(this);" onclick="select_file(this)" id="<%= @browser.current_share + "#" + id %>"><p class="browserEntryIcon"><%= file %></p></div>
<% end %>

</div>
<% end %>
</div>
</div>

<div id="upload">
  <center>
  <% form_url = "/cwa_browser/#{@project.identifier}/#{@browser.current_share}" %>
  <% form_url += "/#{@browser.current_dir}" if @browser.current_dir != nil %>
  <% form_url += "/upload" %>
  <%= form_tag form_url, :id => 'upload_form', :multipart => true do %>
    <b><p>Select file to upload</p></b>
    <p><%= file_field_tag :file %></p>
    <%= submit_tag "Upload" %><%= button_to_function "Cancel", "hideUploadFile()"%>
  <% end %>
  </center>
</div>

<div id="tail" class="miniapp">
  <center>
  <%= form_tag "/cwa_browser/#{@project.identifier}/tail", :id => 'tail_box' do %>
    <%= text_area_tag :tail_content, nil, { :rows => "28", :cols => "96", :readonly => true } %>
    <br/>
    <%= button_to_function "Close", "hideTail()"%>
  <% end %>
  </center>
</div>

<div id="textEditor" class="miniapp">
  <center>
  <% form_url = "/cwa_browser/#{@project.identifier}" %>
  <% form_url += "/#{@browser.current_share}" %>
  <% form_url += "/#{@browser.current_dir}" if @browser.current_dir != nil %>
  <%= form_tag "#{form_url}/create", :id => 'new_file_form', :multipart => true do %>
    <%= label_tag :new_file_name, "New Text File Name" %>
    <%= hidden_field_tag :dir, @browser.current_dir %>
    <%= text_field_tag :new_file_name, nil, :length => 128 %>
    <br/>
    <%= text_area_tag :new_file_content, nil, { :rows => "28", :cols => "96" } %>
    <br/>
    <%= submit_tag "Create" %><%= button_to_function "Cancel", "hideTextEditor()"%>
  <% end %>
  </center>
</div>

<div id="menuDir" class="menu">
  <div class="menuItem" onclick="cwaAction('download', null, false)">Download as Zip</div>
  <div class="menuItem" onclick="cwaAction('rename','Enter new name for directory:', false)">Rename...</div>
  <div class="menuItem" onclick="cwaAction('delete',null, true)">Delete...</div>
  <div class="menuItem" onclick="showMove()">Move...</div>
</div>

<div id="menuFile" class="menu">
  <div class="menuItem" onclick="cwaAction('download', null, false)">Download</div>
  <div class="menuItem" onclick="showTail()">Tail...</div>
  <div class="menuItem" onclick="cwaAction('rename', 'Enter new name for file:', false)">Rename...</div>
  <div class="menuItem" onclick="cwaAction('delete',null, true)">Delete...</div>
  <div class="menuItem" onclick="showMove()">Move...</div>
</div>

<script>
  CollapsibleLists.apply();
</script>
