<%= stylesheet_link_tag "/plugin_assets/cwa/stylesheets/cwa.css" %>
<%= stylesheet_link_tag "/plugin_assets/cwa/stylesheets/codemirror.css" %>
<%= stylesheet_link_tag "/plugin_assets/cwa/codemirror/elegant.css" %>
<%= javascript_include_tag "/plugin_assets/cwa/javascripts/browser.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/javascripts/codemirror.js" %>
<%= javascript_include_tag "/plugin_assets/cwa/codemirror/javascript/javascript.js" %>

<h2 id="current_dir"></h2>

<%= form_tag '/cwa_browser', :id => 'app_form', :multipart => true do %>
<%= hidden_field_tag :selected_item, nil %>
<%= hidden_field_tag :selected_dir, nil %>
<%= hidden_field_tag :selected_file, nil %>
<%= hidden_field_tag :target_share, nil %>
<%= hidden_field_tag :target_path, nil %>
<%= hidden_field_tag :selected_share, @browser.current_share %>
<%= hidden_field_tag :user_home_dir, @ipa_user.homedirectory %>
<%= hidden_field_tag :user_work_dir, @ipa_user.workdirectory %>

<script type="text/javascript">
  redmine_project = "<%= @project.identifier %>";
  var textEditor;
  $('#wrapper3').css('height','100%');

  // set callback to resize the file and directory view ports when the
  // browser window changes size
  var resizeViewPorts = function(){
    if ($(this).height() >= 564){
      $('#dirContainerDirs').css('height', $(this).height()-265); //set max height
      $('#fileList').css('height', $(this).height()-265); //set max height
      //$('#mainBox').css('height', $(this).height()-100);
    }
  }

  $(window).on('resize', resizeViewPorts);
  $(window).load(resizeViewPorts);
  $().ready(function (){
    goToPath("<%= params[:share] %>", "<%= params[:dir] %>", false);
    textEditor = CodeMirror.fromTextArea(document.getElementById('new_file_content'), { 
      lineNumbers: true,
      lineWrapping: true
    });
  });
</script>

<div style="margin: -10px;">
  <div id="mainBox" class="browserBox">
    <div class="dirSelector" id="dirContainer">
      <div id="dirBoxTitle">
        <b>Shares &amp; Directories</b>
      </div>
      <div id="dirContainerDirs">
        <ul class="dir">
          <% ([["home",nil,"dirEntryHome"],["work",nil,"dirEntryWork"]] + @group_list.map {|g| [ "shares", g[:cn], "dirEntryShare"]}).each do |store| %>
            <% id = store[1].nil? ? store[0] + "." : store[0] + "." + store[1] %>
            <li id="<%= id %>" class="<%= store[2] %>"><div><%= store[1].nil? ? store[0] : store[1] %></div></li>
          <% end %>
        </ul>
      </div>
    </div>
  
    <div class="fileSelector" id="files">
      
      <div id="dirBoxTitle">
        <b>Files</b>
      </div>
      <div id="fileList">
      </div>
    </div>
  </div>
</div>
<% end %>

<div id="upload">
  <center>
  <%= form_tag "STUB", :id => 'upload_form', :multipart => true do %>
    <b><p>Select file to upload</p></b>
    <p><%= file_field_tag :upload_file %></p>
    <%= submit_tag "Upload", :onclick => "uploadFile()" %><%= button_to_function "Cancel", "hideUploadFile()"%>
  <% end %>
  </center>
</div>

<div id="tail" class="miniapp">
  <center>
  <%= form_tag "/cwa_browser/#{@project.identifier}/tail", :id => 'tail_box' do %>
    <%= text_area_tag :tail_content, nil, { :readonly => true } %>
    <br/>
    <%= button_to_function "Close", "hideTail()", { :style => "position:absolute;top:96%;" } %>
  <% end %>
  </center>
</div>

<div id="textEditor" class="miniapp">
  <%= form_tag "STUB", :id => 'new_file_form', :multipart => true do %>
    <div>
    <%= label_tag :new_file_name, "File Name" %>
    <%= hidden_field_tag :dir %>
    <%= text_field_tag :new_file_name %>
    <div style="float:right">
    <%= submit_tag "Save" %><%= button_to_function "Discard", "hideTextEditor()"%>
    </div>
    </div>
    <hr/>
    <%= text_area_tag :new_file_content, nil %>
  <% end %>
</div>

<div id="menuDir" class="menu">
  <center><b>Menu</b></center>
  <hr/>
  <div class="menuItem" onclick="showTextEditor(false)">Create new text file...</div>
  <div class="menuItem" onclick="cwaAction('download', null, false, 'dir')">Download as Zip</div>
  <div class="menuItem" onclick="showUploadFile()">Upload file...</div>
  <div class="menuItem" onclick="cwaAction('rename','Enter new name for directory:', false, 'dir')">Rename...</div>
  <div class="menuItem" onclick="cwaAction('delete',null, true, 'dir')">Delete...</div>
  <div class="menuItem" onclick="showCopyMove('move',null)">Move...</div>
  <div class="menuItem" onclick="showCopyMove('copy',null)">Copy...</div>
</div>

<div id="menuShare" class="menu">
  <center><b>Menu</b></center>
  <hr/>
  <div class="menuItem" onclick="showTextEditor(false)">Create new text file...</div>
  <div class="menuItem" onclick="cwaAction('download', null, false, 'dir')">Download as Zip</div>
  <div class="menuItem" onclick="showUploadFile()">Upload file...</div>
  <div class="menuItem" onclick="cwaAction('mkdir','Enter name for new directory:', false, 'dir')">Create directory...</div>
</div>

<div id="menuFile" class="menu">
  <center><b>Menu</b></center>
  <hr/>
  <div class="menuItem" onclick="showTextEditor(true)">Edit...</div>
  <div class="menuItem" onclick="cwaAction('download', null, false, 'file')">Download</div>
  <div class="menuItem" onclick="showTail()">Tail...</div>
  <div class="menuItem" onclick="cwaAction('rename', 'Enter new name for file:', false, 'file')">Rename...</div>
  <div class="menuItem" onclick="cwaAction('delete',null, true, 'file')">Delete...</div>
  <div class="menuItem" onclick="showCopyMove('move',null)">Move...</div>
  <div class="menuItem" onclick="showCopyMove('copy',null)">Copy...</div>
</div>

<div id="copymove" class="miniapp" style="width: 33%; height: 60%;">
  <h2 id="current_dir_popup"></h2>
  <div id="dirBoxTitle"><b>Select Destination...</b></div>
  <div class="dirSelector" id="dirContainerSelector" style="position: relative; width:95%; height:80%; padding-right: 0px; overflow:scroll;">
    <ul class="dir">
      <% ([["home",nil,"dirEntryHomePopup"],["work",nil,"dirEntryWorkPopup"]] + @group_list.map {|g| [ "shares", g[:cn], "dirEntrySharePopup"]}).each do |store| %>
        <% id = store[1].nil? ? store[0] + "." : store[0] + "#" + store[1] %>
        <li id="<%= id %>" class="<%= store[2] %>"><div><%= store[1].nil? ? store[0] : store[1] %></div></li>
      <% end %>
    </ul>
  </div>
  <%= button_to_function "STUB", "startCopyMove()", :id => 'copymove_button' %>  
  <%= button_to_function "Cancel", "hideCopyMove()" %>  
</div>

<!-- We pop up divs in here for the progress of various file operations -->
<div id="queue_progress" class="browserProgress">
</div>
