<%= stylesheet_link_tag "/plugin_assets/cwa/stylesheets/appmanager.css" %>
<script>
  <%= render :partial => 'cwa_browser/browser.js.erb' %>
</script>

<div style="margin: 18px">
<%= form_tag '/cwa_browser', :id => 'app_form', :multipart => true do %>
<%= hidden_field_tag :selected_item, nil %>
<%= hidden_field_tag :selected_dir, nil %>
<%= hidden_field_tag :selected_file, nil %>
<%= hidden_field_tag :selected_share, @browser.current_share %>
  <div class="actionButtons">
    <div class="actionButton" onclick="createDirectory()">New Folder...</div>
    <div class="actionButton" onclick="showTextEditor()">Create File...</div>
    <div class="actionButton" onclick="showUploadFile()">Upload File...</div>

    <% if @browser.current_dir != nil  %>
      <div class="browserButtonBack" onclick="back()">&lt; Back</div>
    <% else %>
      <div class="browserButtonBackInactive">&lt; Back</div>
    <% end %>
    <div style="float:left; position:relative; vertical-align:center; text-align:center;"><b>Path:</b> <%= text_field_tag :current_dir, @browser.current_path, :size => @browser.current_path.length < 72 ? @browser.current_path.length : 72, :disabled => true %></div>
  </div>

  <div id="stores" style="float: left; position:relative; width:10%; margin-top:12px; margin-right:0px; z-index:10;">
    <div id="home#" onclick="chdir(this)" class="<%= @browser.current_share == "home" ? "browserButtonSelected" : "browserButton" %>">Home</div>
    <div id="work#" onclick="chdir(this)" class="<%= @browser.current_share == "work" ? "browserButtonSelected" : "browserButton" %>">Work</div>

    <% @group_list.each do |group| %>
      <div id="shares#<%= group[:cn] %>" onclick="chdir(this)" class="<%= @browser.current_path.split("/")[2] == "/shares/" + group[:cn] ? "browserButtonSelected" : "browserButton" %>"><%= group[:cn] %></div>
    <% end %>
  </div>

  <div class="browserSelectorFull">

<% @browser.directories.each do |dir| %>
<% Rails.logger.debug "index#render => Nil Dir => #{@browser.current_dir}" %>
  <% if @browser.current_dir != nil.to_s %>
    <% id = @browser.current_dir + "/" + dir %>
  <% else %>
    <% id = dir %>
  <% end %>
<div class="browserDirEntryIcon" oncontextmenu="showMenu(event, 'menuDir'); select_directory(this);" onclick="select_directory(this)" ondblclick="chdir(this)" id="<%= @browser.current_share + "#" + id %>"><p class="browserEntryIcon"><%= dir %></p></div>
<% end %>

<% @browser.files.each do |file| %>
  <% if @browser.current_dir != nil.to_s %>
    <% id = @browser.current_dir + "/" + file %>
  <% else %>
    <% id = file %>
  <% end %>
<div class="browserFileEntryIcon" oncontextmenu="showMenu(event, 'menuFile'); select_file(this);" onclick="select_file(this)" id="<%= @browser.current_share + "#" + id %>"><p class="browserEntryIcon"><%= file %></p></div>
<% end %>

</div>
<% end %>
</div>

<div id="upload">
  <center>
  <%= form_tag "/cwa_browser/#{@project.identifier}/upload", :id => 'upload_form', :multipart => true do %>
    <b><p>Select file to upload</p></b>
    <p><%= file_field_tag :file %></p>
    <%= hidden_field_tag :dir, @browser.current_dir %>
    <%= submit_tag "Upload" %><%= button_to_function "Cancel", "hideUploadFile()"%>
  <% end %>
  </center>
</div>

<div id="tail" class="miniapp">
  <center>
  <%= form_tag "/cwa_browser/#{@project.identifier}/tail", :id => 'tail_box' do %>
    <%= text_area_tag :tail_content, nil, { :rows => "28", :cols => "96", :readonly => true } %>
    <br/>
    <%= button_to_function "Close", "hideTail()"%>
  <% end %>
  </center>
</div>

<div id="textEditor" class="miniapp">
  <center>
  <%= form_tag "/cwa_browser/#{@project.identifier}/create", :id => 'new_file_form', :multipart => true do %>
    <%= label_tag :new_file_name, "New Text File Name" %>
    <%= hidden_field_tag :dir, @browser.current_dir %>
    <%= text_field_tag :new_file_name, nil, :length => 128 %>
    <br/>
    <%= text_area_tag :new_file_content, nil, { :rows => "28", :cols => "96" } %>
    <br/>
    <%= submit_tag "Create" %><%= button_to_function "Cancel", "hideTextEditor()"%>
  <% end %>
  </center>
</div>

<div id="menuDir" class="menu">
  <div class="menuItem" onclick="download_zipfile()">Download as Zip</div>
  <div class="menuItem" onclick="rename()">Rename...</div>
  <div class="menuItem" onclick="deleteItem()">Delete...</div>
</div>

<div id="menuFile" class="menu">
  <div class="menuItem" onclick="download_file()">Download</div>
  <div class="menuItem" onclick="showTail()">Tail...</div>
  <div class="menuItem" onclick="rename()">Rename...</div>
  <div class="menuItem" onclick="deleteItem()">Delete...</div>
</div>
