<%= stylesheet_link_tag "/plugin_assets/cwa/stylesheets/cwa.css" %>
<%= javascript_include_tag "/plugin_assets/cwa/javascripts/browser.js" %>

<script type="text/javascript">
  redmine_project = "<%= @project.identifier %>";
</script>

<div style="margin: 18px">
<%= form_tag '/cwa_browser', :id => 'app_form', :multipart => true do %>

<%= hidden_field_tag :selected_item, nil %>
<%= hidden_field_tag :selected_dir, nil %>
<%= hidden_field_tag :selected_file, nil %>
<%= hidden_field_tag :target_share, nil %>
<%= hidden_field_tag :target_path, nil %>
<%= hidden_field_tag :selected_share, @browser.current_share %>

  <div class="actionButtons">
    <!-- Current directory window -->
    <div style="float:left; margin-top: 6px;">
      <b>Current Path:</b> <%= text_field_tag :current_dir, "", :size => 72, :disabled => true %>
    </div>
    <!-- Action buttons -->
    <div class="toolButton" style="background-image: url('/plugin_assets/cwa/images/newfile.svg');" onclick="showTextEditor()"title="Create File..."></div>
    <div class="toolButton" style="background-image: url('/plugin_assets/cwa/images/delete.svg');" onclick="cwaAction('delete',null, true)" title="Delete File..."></div>
    <div class="toolButton" style="background-image: url('/plugin_assets/cwa/images/upload.svg');" onclick="showUploadFile()" title="Upload File..."></div>
    <div class="toolButton" style="background-image: url('/plugin_assets/cwa/images/download.svg');" onclick="cwaAction('download', null, false)" title="Download File..."></div>
    <div class="toolButton" style="background-image: url('/plugin_assets/cwa/images/tail.svg');" onclick="showTail()" title="Watch File..."></div>
    <div class="toolButton" style="background-image: url('/plugin_assets/cwa/images/rename.png');" onclick="cwaAction('rename','Enter new name for directory:', false)" title="Rename File..."></div>
    <div class="toolButton" style="background-image: url('/plugin_assets/cwa/images/move.svg');" onclick="showMove()" title="Move File..."></div>
  </div>

  <div>
    <div class="box dirSelector" id="dirContainer">
      <div id="dirBoxTitle" style="float:left; padding-top: 6px; margin: 8px;"><b>Data Stores</b></div>
      <div class="toolButton" style="float: right; margin: 8px; background-image: url('/plugin_assets/cwa/images/mkdir.svg');" onclick="cwaAction('mkdir','Specify directory name to be created:',false)" title="New Folder..."></div>
      <hr/>
      <ul class="dir">
      <% ([["home",nil,"home.svg"],["work",nil,"netshare.svg"]] + @group_list.map {|g| [ "shares", g[:cn], "netshare.svg"]}).each do |store| %>
        <% id = store[1].nil? ? store[0] + "." : store[0] + "#" + store[1] %>
        <li id="<%= id %>" style="background-image: url('/plugin_assets/cwa/images/<%= store[2] %>'); background-size: 24px;" onclick="collapsibleExpand(this,false)"><%= store[1].nil? ? store[0] : store[1] %></li>
      <% end %>
      </ul>
    </div>
  
    <div class="box fileSelector">
    <table class="fileItem">
      <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Group</th>
        <th>Mode</th>
        <th>Change Time</th>
      </tr>
      </thead>
      <tbody id="fileContainer">
      </tbody>
    </table> 
    </div>
  <% end %>
  </div>
</div>

<div id="upload">
  <center>
  <%= form_tag "STUB", :id => 'upload_form', :multipart => true do %>
    <b><p>Select file to upload</p></b>
    <p><%= file_field_tag :upload_file %></p>
    <%= submit_tag "Upload", :onclick => "uploadFile()" %><%= button_to_function "Cancel", "hideUploadFile()"%>
  <% end %>
  </center>
</div>

<div id="tail" class="miniapp">
  <center>
  <%= form_tag "/cwa_browser/#{@project.identifier}/tail", :id => 'tail_box' do %>
    <%= text_area_tag :tail_content, nil, { :readonly => true } %>
    <br/>
    <%= button_to_function "Close", "hideTail()", { :style => "position:absolute;top:96%;" } %>
  <% end %>
  </center>
</div>

<div id="textEditor" class="miniapp">
  <center>
  <%= form_tag "STUB", :id => 'new_file_form', :multipart => true do %>
    <%= label_tag :new_file_name, "New Text File Name" %>
    <%= hidden_field_tag :dir, @browser.current_dir %>
    <%= text_field_tag :new_file_name, nil, :length => 128 %>
    <br/>
    <%= text_area_tag :new_file_content, nil, { :rows => "28", :cols => "96" } %>
    <br/>
    <%= submit_tag "Create" %><%= button_to_function "Cancel", "hideTextEditor()"%>
  <% end %>
  </center>
</div>

<div id="menuDir" class="menu">
  <div class="menuItem" onclick="cwaAction('download', null, false)">Download as Zip</div>
  <div class="menuItem" onclick="cwaAction('rename','Enter new name for directory:', false)">Rename...</div>
  <div class="menuItem" onclick="cwaAction('delete',null, true)">Delete...</div>
  <div class="menuItem" onclick="showCopyMove('move')">Move...</div>
  <div class="menuItem" onclick="showCopyMove('copy')">Copy...</div>
</div>

<div id="menuFile" class="menu">
  <div class="menuItem" onclick="cwaAction('download', null, false)">Download</div>
  <div class="menuItem" onclick="showTail()">Tail...</div>
  <div class="menuItem" onclick="cwaAction('rename', 'Enter new name for file:', false)">Rename...</div>
  <div class="menuItem" onclick="cwaAction('delete',null, true)">Delete...</div>
  <div class="menuItem" onclick="showCopyMove('move')">Move...</div>
  <div class="menuItem" onclick="showCopyMove('copy')">Copy...</div>
</div>

<div id="copymove" class="miniapp" style="width: 25%; height: 75%;">
  <div class="box dirSelector" id="dirContainerSelector" style="width:95%; height:90%; max-height: 90%; padding-right: 0px;">
    <div id="dirBoxTitle"><b>Select Destination...</b></div>
    <hr/>
    <ul class="dir">
      <% ([["home",nil,"home.svg"],["work",nil,"netshare.svg"]] + @group_list.map {|g| [ "shares", g[:cn], "netshare.svg"]}).each do |store| %>
        <% id = store[1].nil? ? store[0] + "." : store[0] + "#" + store[1] %>
        <li id="<%= id %>" style="background-image: url('/plugin_assets/cwa/images/<%= store[2] %>'); background-size: 24px;" onclick="collapsibleExpand(this,true)"><%= store[1].nil? ? store[0] : store[1] %></li>
      <% end %>
    </ul>
  </div>
  <%= button_to_function "STUB", "startCopyMove()", :id => 'copymove_button' %>  
  <%= button_to_function "Cancel", "hideCopyMove()" %>  
</div>

<!-- We pop up divs in here for the progress of various file operations -->
<div id="queue_progress" class="browserProgress">
</div>
  
<script>
  goToPath("<%= params[:share] %>", "<%= params[:dir] %>", false);
</script>
