<h2>System Access</h2>
<center>
<div style="width:800px">
<%= form_tag :action => 'create' do %>
 <div>
  <div class="box" width="100%" align="left">
   <h3>University System Access Agreement</h3>
   <p align="left">
    <%= textilizable Redmine::Cwa.saa, :options => { } %>
   </p>
   <%= check_box_tag :saa, 'yes', false, :class => 'accept_saa' %>
   <%= label_tag :saa, "Accept System Access Agreement" %>
  </div>
  <div class="box" width="100%" align="left">
   <h3>Research Computing Terms of Service</h3>
   <p align="left">
    <%= textilizable Redmine::Cwa.tos, :options => { } %>
   </p>
   <%= check_box_tag :tos, 'yes', false, :class => 'accept_tos' %>
   <%= label_tag :tos, "Accept Terms of Service" %>
  </div>
 </div>
 <div class="box" width="100%" align="left">
  <center>
  <p align="left">
   <%= textilizable Redmine::Cwa.pwd_agreement, :options => { } %>
  </p>
  <p>
   <%= label_tag :netid_password, "Enter your NetID password" %>:
  </p>
  <p>
   <%= password_field_tag :netid_password %>
  </p>
  <p>
   <%= submit_tag "Enable System Access", :disable_with => "Please wait..." %>
  </p>
  </center>
 </div>
<% end %>
</div>
</center>
