<h2>My Access Information</h2>
<center>

<div style="width:800px">
<h4>Your account is configured for access to the system!</h4>
<div class="box">
   <center>
   <h3>Basic Information</h3>
   <div align="center">
     <table>
       <tr><td style="text-align:right"><b>Name:<b></td><td style="text-align:left"><%= @cwa_as.givenname %> <%= @cwa_as.sn %></td></tr>
       <tr><td style="text-align:right"><b>UID Number:<b></td><td style="text-align:left"><%= @cwa_as.namsid %></td></tr>
       <tr><td style="text-align:right"><b>Username:<b></td><td style="text-align:left"><%= @cwa_as.uid %></td></tr>
       <tr><td style="text-align:right"><b>Home directory:<b></td><td style="text-align:left"><%= @cwa_as.homedirectory %></td></tr>
       <tr><td style="text-align:right"><b>Affiliation:<b></td><td style="text-align:left"><%= @cwa_as.affiliation %></td></tr>
       <tr><td style="text-align:right"><b>Campus:<b></td><td style="text-align:left"><%= @cwa_as.campus %></td></tr>
       <tr><td style="text-align:right"><b>College:<b></td><td style="text-align:left"><%= @cwa_as.college %></td></tr>
     </table>
   </div>
   </center>
</div>
<div class="box">
  <center>
  <h3>Advanced Options</h3>
  <p><b>Please only change these options if you know what you are doing!</b></p>
  <div align="left" style="width:200px">
    <%= form_tag :action => :user_shell, :project_id => params[:project_id] do %>
      <% shell = @cwa_as.loginshell %>
      <% shell_id = @cwa_as.shells[shell] %>
      <table>
        <tr><td style="text-align:right"><b>Login shell:</b></td><td style="text-align:left"><%= select_tag 'loginshell', options_for_select(@cwa_as.shells, :selected => shell_id) %></td></tr>
      </table>
  </div>
      <br />
      <%= submit_tag "Update Account Information", :disable_with => "Please wait..." %>
    <% end %>
  </center>
</div>

<% if @cwa_as.uid != "admin" %>

<div class="box">
<center>
<h3>Disable My System Access</h3>
</center>
  <%= form_tag :action => :delete, :project_id => params[:project_id] do %>
  <div style="text-align: left">
    <%= textilizable @cwa_as.delete_saa, :options => { } %>
  </div>
  <p>
    <%= submit_tag "Disable System Access", :disable_with => "Please wait..." %>
  </p>
  <% end %>
</div>

<% end %>
</div>
</center>
