<h2>My Access Information</h2>

<div class="box">
  <h3>Account Status</h3>
  <h4>Your account is configured for access to the system!</h4>
  <p>
    Please make sure you are familiar with our basic system information regarding
    system policies, data storage information, and acceptable use by visiting the
    following page:
    <%= textilizable "[[Wiki|Documentation]]" %>
  </p>
</div>

<div class="box">
  <h3>Basic Information</h3>
  <table>
    <tr><td><b>Name:<b></td><td><%= @user.givenname %> <%= @user.sn %></td></tr>
    <tr><td><b>UID Number:<b></td><td><%= @user.uidnumber %></td></tr>
    <tr><td><b>Username:<b></td><td><%= @user.uid %></td></tr>
    <tr><td><b>Home directory:<b></td><td><%= @user.homedirectory %></td></tr>
    <tr><td><b>Affiliation:<b></td><td><%= @user.affiliation %></td></tr>
    <tr><td><b>Campus:<b></td><td><%= @user.campus %></td></tr>
    <tr><td><b>College:<b></td><td><%= @user.college %></td></tr>
  </table>
</div>

<div class="box">
  <h3>Advanced Options</h3>
  <p><b>Please only change these options if you know what you are doing!</b></p>
  <%= form_tag :action => :set_shell do %>
    <% shell = @user.loginshell %>
    <% shell_id = @user.available_shells[shell] %>
  <p>
    <table>
      <tr><td><b>Login shell:</b></td><td><%= select_tag 'loginshell', options_for_select(@user.available_shells, :selected => shell_id) %></td></tr>
    </table>
  </p>
  <p>
    <%= submit_tag "Update Account Information", :disable_with => "Please wait..." %>
  </p>
  <% end %>
</div>

<% if @user.uid != "admin" %>

<div class="box">
<h3>Disable My System Access</h3>
  <%= form_tag :action => :delete do %>
  <div style="text-align: left">
    <%= textilizable Redmine::Cwa.delete_saa, :options => { } %>
  </div>
  <p>
    <%= submit_tag "Disable System Access", :disable_with => "Please wait...", :confirm => "Are you sure you want to disable your system access?" %>
  </p>
  <% end %>
</div>
<% end %>
